@import "tailwindcss";


:root {
  --background: #f0f0f0;
  --foreground: #5e5f70;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #5e5f70;
    --foreground: #ededed;
  }
}

body {
  color: var(--background);
  background: var(--foreground);
  font-family: 'Montserrat',Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.map{
  width: 620px;
  height: 350px;
  margin: 2px solid #e8effa;
  padding: 2px;
}